{% extends 'base_dashboard.html' %}
{% load static %}

{% block title %}Carga Térmica {{nombreCuarto}}{% endblock %}

{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="{% static 'css/m1-carga-termica.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container my-4">
    <h1 class="text-center mb-4">Carga Térmica {{nombreCuarto}}</h1>
    <form method="post">
        {% csrf_token %}

        <fieldset class="border p-3 mb-4 rounded bg-yellow">
            <legend class="fw-bold px-2">Parámetros generales</legend>
            <div class="row g-3">
                <div class="col-md-6">
                    <label for="t_amb" class="form-label">T amb [°C]</label>
                    <input type="text" name="t_amb" id="t_amb" class="form-control form-control-center" value="">
                </div>
                <div class="col-md-6">
                    <label for="t_cam" class="form-label">T cám [°C]</label>
                    <input type="text" name="t_cam" id="t_cam" class="form-control form-control-center" value="">
                </div>
                <div class="col-md-6">
                    <label for="f_segur" class="form-label">Factor de seguridad [%]</label>
                    <div class="input-group">
                        <input type="text" name="f_segur" id="f_segur" class="form-control form-control-center">
                        <span class="input-group-text">%</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="aplicacion" class="form-label">Aplicación</label>
                    <select name="aplicacion" id="aplicacion" class="form-select form-control-center">
                        <option value="Muelle">Muelle</option>
                        <option value="Tunel">Tunel</option>
                        <option value="Cuarto Frio">Cuarto Frio</option>
                        <option value="Cong Parcial">Cong Parcial</option>
                    </select>
                </div>

                <div class="col-md-6" id="porcentajeCongelacionContainer" style="display: none;">
                    <label for="porcentaje_congelacion" class="form-label">% de congelacion</label>
                    <div class="input-group">
                        <input type="number" name="porcentaje_congelacion" id="porcentaje_congelacion" class="form-control form-control-center" placeholder="ej: 80" min="0" max="100" step="1">
                        <span class="input-group-text">%</span>
                    </div>
                </div>


                <div class="col-md-6">
                    <label for="t_control" class="form-label">Tiempo Control</label>
                    <input type="text" name="t_control" id="t_control" class="form-control form-control-center" value="">
                </div>
                <div class="col-md-6">
                    <label for="t_compresor" class="form-label">Tiempo Compresor</label>
                    <input type="text" name="t_compresor" id="t_compresor" class="form-control form-control-center" value="">
                </div>
            </div>
        </fieldset>

        <fieldset class="border p-3 mb-4 rounded bg-blue">
            <legend class="fw-bold px-2">Dimensiones del cuarto</legend>
            <div class="row g-3">
                <div class="col-md-6"><label for="l_m" class="form-label">L [m]</label><input type="text" name="l_m" class="form-control form-control-center" value=""></div>
                
                <div class="col-md-6">
                    <label for="pared" class="form-label">Pared [mm]</label>
                    <select name="pared" id="pared" class="form-select form-control-center">
                        <option value="0">0</option>
                        <option value="50">50</option>
                        <option value="80">80</option>
                        <option value="100">100</option>
                        <option value="125">125</option>
                        <option value="150">150</option>
                    </select>
                </div>

                <div class="col-md-6"><label for="a_m" class="form-label">a [m]</label><input type="text" name="a_m" class="form-control form-control-center" value=""></div>
                
                <div class="col-md-6">
                    <label for="techo" class="form-label">Techo [mm]</label>
                    <select name="techo" id="techo" class="form-select form-control-center">
                        <option value="0">0</option>
                        <option value="50">50</option>
                        <option value="80">80</option>
                        <option value="100">100</option>
                        <option value="125">125</option>
                        <option value="150">150</option>
                    </select>    
                </div>

                <div class="col-md-6"><label for="h_m" class="form-label">h [m]</label><input type="text" name="h_m" class="form-control form-control-center" value=""></div>

                <div class="col-md-6">
                    <label for="piso" class="form-label">Piso [mm]</label>
                    <select name="piso" id="piso" class="form-select form-control-center">
                        <option value="0">0</option>
                        <option value="50">50</option>
                        <option value="80">80</option>
                        <option value="100">100</option>
                        <option value="125">125</option>
                        <option value="150">150</option>
                    </select>    
                </div>

            </div>
        </fieldset>

        <fieldset class="border p-3 mb-4 rounded bg-green">
            <legend class="fw-bold px-2">Producto 1</legend>
            <div class="row g-3">

                <div class="col-md-4">
                    <label for="producto1" class="form-label">Nombre</label>
                    <select name="producto1" id="producto1" class="form-select">
                        <option value="">Seleccione un producto</option>
                        {% for prod in productos_lista %}
                        <option value="{{ prod.productos }}">{{ prod.productos }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="canastas1" class="form-label">Canastas [cm]</label>
                    <select name="canastas1" id="canastas1" class="form-select form-control-center">
                        <option value="13cms">13cms</option>
                        <option value="25cms">25cms</option>
                        <option value="na">n/a</option>
                    </select>    
                </div>
                <div class="col-md-4"><label for="p1_t_in" class="form-label">T in [°C]</label><input type="text" name="p1_t_in" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="p1_t_cong" class="form-label">T cong [°C]</label><input type="text" name="p1_t_cong" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="p1_t_out" class="form-label">T out [°C]</label><input type="text" name="p1_t_out" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="p1_rotacion" class="form-label">Rotación</label><input type="text" name="p1_rotacion" id="p1_rotacion" class="form-control form-control-center"></div>
                <div class="col-md-4"><label for="p1_carros" class="form-label">Carros</label><input type="text" name="p1_carros" id="p1_carros" class="form-control form-control-center" value="1"></div>
                <div class="col-md-4"><label for="p1_f_carga" class="form-label">Factor carga</label><input type="text" name="p1_f_carga" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="p1_almac" class="form-label">Almacenamiento [ton]</label><input type="text" name="p1_almacenamiento" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="p1_calor_latente" class="form-label">Calor latente</label><input type="text" name="p1_calor_latente" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="p1_cp_s_p" class="form-label">Cp&gt;p cong</label><input type="text" name="p1_cp_s_p" class="form-control form-control-center"></div>
                <div class="col-md-4"><label for="p1_cp_b_p" class="form-label">Cp&lt;p cong</label><input type="text" name="p1_cp_b_p" class="form-control form-control-center"></div>
                
                <div id="calorEvolucionBox" class="col-md-4">
                    <label for="calor_evolucion" class="form-label">Calor evolución</label>
                    <input type="text" name="p1_calor_evolucion" class="form-control form-control-center" value="">
                </div>
            </div>
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="toggleCalorEvolucion" checked>
                <label class="form-check-label" for="toggleCalorEvolucion">
                    Mostrar calor evolución
                </label>
            </div>
        </fieldset>

        <fieldset class="border p-3 mb-4 rounded bg-green">
            <legend class="fw-bold px-2">Producto opcional</legend>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="toggleProducto2">
                <label class="form-check-label" for="toggleProducto2">
                    Agregar Producto 2
                </label>
            </div>
        </fieldset>

        <fieldset class="border p-3 mb-4 rounded bg-green" id="fieldProducto2" style="display: none;">
            <legend class="fw-bold px-2">Producto 2</legend>
            <div class="row g-3">

                <div class="col-md-4">
                    <label for="producto2" class="form-label">Nombre</label>
                    <select name="producto2" id="producto2" class="form-select">
                        <option value="">Seleccione un producto</option>
                        {% for prod in productos_lista %}
                        <option value="{{ prod.productos }}">{{ prod.productos }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-4">
                    <label for="canastas2" class="form-label">Canastas [cm]</label>
                    <select name="canastas2" id="canastas2" class="form-select form-control-center">
                        <option value="13cms">13cms</option>
                        <option value="25cms">25cms</option>
                        <option value="na">n/a</option>
                    </select>     
                </div>
                <div class="col-md-4"><label for="p2_t_in" class="form-label">T in [°C]</label><input type="text" name="p2_t_in" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="p2_t_cong" class="form-label">T cong [°C]</label><input type="text" name="p2_t_cong" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="p2_t_out" class="form-label">T out [°C]</label><input type="text" name="p2_t_out" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="p2_rotacion" class="form-label">Rotación</label><input type="text" name="p2_rotacion" id="p2_rotacion" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="p2_carros" class="form-label">Carros</label><input type="text" name="p2_carros" id="p2_carros" class="form-control form-control-center" value="1"></div>
                <div class="col-md-4"><label for="p2_f_carga" class="form-label">Factor carga</label><input type="text" name="p2_f_carga" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="p2_almac" class="form-label">Almacenamiento [ton]</label><input type="text" name="p2_almac" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="p2_calor_latente" class="form-label">Calor latente</label><input type="text" name="p2_calor_latente" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="p2_cp_s_p" class="form-label">Cp&gt;p cong</label><input type="text" name="p2_cp_s_p" class="form-control form-control-center"></div>
                <div class="col-md-4"><label for="p2_cp_b_p" class="form-label">Cp&lt;p cong</label><input type="text" name="p2_cp_b_p" class="form-control form-control-center"></div>
                
                <div id="calorEvolucionBox2" class="col-md-4">
                    <label for="p2_calor_evolucion" class="form-label">Calor evolución</label>
                    <input type="text" name="p2_calor_evolucion" class="form-control form-control-center" value="">
                </div>
            </div>
            
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="toggleCalorEvolucion2" checked>
                <label class="form-check-label" for="toggleCalorEvolucion2">
                    Mostrar calor evolución
                </label>
            </div>
        </fieldset>

        <fieldset class="border p-3 mb-4 rounded bg-beige">
            <legend class="fw-bold px-2">Personas</legend>
            <div class="row g-3">
                <div class="col-md-4"><label for="personas" class="form-label">Personas</label><input type="text" name="personas" class="form-control form-control-center" value="1"></div>
                <div class="col-md-4"><label for="t_h_personas" class="form-label">Tiempo [h]</label><input type="text" name="t_h_personas" class="form-control form-control-center" value="0.5"></div>
            </div>
        </fieldset>

        <fieldset class="border p-3 mb-4 rounded bg-beige">
            <legend class="fw-bold px-2">Iluminación</legend>
            <div class="row g-3">
                <div class="col-md-4"><label for="luxes" class="form-label">Luxes</label><input type="text" name="luxes" class="form-control form-control-center" value=""></div>
                
                <div class="col-md-4">
                    <label for="luminaria" class="form-label">Luminaria</label>
                    <select name="luminaria" id="luminaria" class="form-select">
                        <option value="">Seleccione una luminaria</option>
                        {% for luminaria in lamparas_led_lista %}
                        <option value="{{ luminaria.ref }}">{{ luminaria.ref }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-4"><label for="cantidad_luminarias" class="form-label">Cantidad</label><input type="text" name="cantidad_luminarias" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="w" class="form-label">Potencia [W]</label><input type="text" name="w" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="t_h_ilum" class="form-label">Tiempo [h]</label><input type="text" name="t_h_ilum" class="form-control form-control-center" value=""></div>
            </div>
        </fieldset> 

        <fieldset class="border p-3 mb-4 rounded bg-gray">
            <legend class="fw-bold px-2">Evaporadores</legend>
            <div class="row g-3">
                <div class="col-md-3">
                    <label for="evap" class="form-label">Modelo</label>
                    <select name="evap" id="evap" class="form-select">
                        <option value="">Seleccione un modelo</option>
                        {% for evap in evaporadores_lista %}
                        <option value="{{ evap.modelo }}">{{ evap.modelo }}</option>
                        {% endfor %}
                    </select>
                </div>
        
                <div class="col-md-3"><label for="cant_evap" class="form-label">Cantidad</label><input type="text" name="cant_evap" class="form-control form-control-center"></div>
                <div class="col-md-3"><label for="n_mot" class="form-label">N° motores</label><input type="text" name="n_mot" class="form-control form-control-center" readonly></div>
                <div class="col-md-3"><label for="m3_h_c_u" class="form-label">m³/h c/u</label><input type="text" name="m3_h_c_u" class="form-control form-control-center" readonly></div>
                <div class="col-md-3"><label for="hp" class="form-label">HP</label><input type="text" name="hp" class="form-control form-control-center" readonly></div>
                <div class="col-md-3"><label for="largo_mm" class="form-label">Largo [mm]</label><input type="text" name="largo_mm" class="form-control form-control-center" readonly></div>
                <div class="col-md-3"><label for="c_h" class="form-label">Cambio/Horas</label><input type="text" name="c_h" class="form-control form-control-center"></div>
            </div>
        </fieldset>

        <fieldset class="border p-3 mb-4 rounded bg-blue">
            <legend class="fw-bold px-2">Infiltración de aire</legend>
            <div class="row g-3">
                <div class="col-md-6"><label for="tipo" class="form-label">Tipo</label><input type="text" name="tipo" class="form-control" value=""></div>
                <div class="col-md-6"><label for="factor" class="form-label">Factor</label><input type="text" name="factor" class="form-control form-control-center" value=""></div>
            </div>
        </fieldset>

        <fieldset class="border p-3 mb-4 rounded bg-blue">
            <legend class="fw-bold px-2">Carga Adicionales por Maquinas</legend>
            <div class="row g-3">
                <div class="col-md-4"><label for="m1_cantidad" class="form-label">Cantidad Maquinaria 1</label><input type="text" name="m1_cantidad" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="m1_hp" class="form-label">Consumo [HP]</label><input type="text" name="m1_hp" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="m1_t" class="form-label">Horas Operacion</label><input type="text" name="m1_t" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="m2_cantidad" class="form-label">Cantidad Maquinaria 2</label><input type="text" name="m2_cantidad" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="m2_hp" class="form-label">Consumo [HP]</label><input type="text" name="m2_hp" class="form-control form-control-center" value=""></div>
                <div class="col-md-4"><label for="m2_t" class="form-label">Horas Operacion</label><input type="text" name="m2_t" class="form-control form-control-center" value=""></div>
            </div>
        </fieldset>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Enviar Información</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/carga_termica/carga_termica.js' %}"></script>
{% endblock %}
